using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using Crestron.SimplSharp;

namespace $$addNamespace$$.Constants
{
    public static class VTSObjects
    {
       
        $$addSmartObjectConstants$$
        
    }
}